* {
    font-family: Lato;
  }

  .header{
    background: #000;
    color: #fff;
    padding: 6px 30px;
    margin-bottom: 20px;
  }
  
  textarea {
    margin: 0 auto;
    resize: none;
    width: 800px;
    min-height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(141, 141, 141, 0.493);
    color: rgb(85, 84, 84);
    font-size: 22px;
  }
  
  textarea:focus {
    border: 1px solid rgb(14, 185, 120, 0.8);
    outline: none;
  }
  
  textarea::placeholder {
    color: rgb(145, 145, 145);
  }
  
  button {
    padding: 10px;
    width: 100px;
    position: relative;
    left: 75%;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: cadetblue;
    color: white;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }